a {
    color:skyblue;
    text-decoration:none;

}
h1 {
    text-align:center;
    color:skyblue;
}
h2 {
    text-align:center;
}
h3 {
    text-align:center;
}
footer {text-align:center;}
nav {text-align:left;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:skyblue;
}
 
li {
    float: left;
}
 
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 
li a:hover {
    background-color:#d6d6d6;
}
body{
    background-color:#e6e6e6;
}

div {
    width: 300px;
    border: 25px solid #e6e6e6;
    padding: 25px;
    margin: 25px;
    text-align:center;
}
